<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>SignUpUser</display-name>
    <servlet-name>SignUpUser</servlet-name>
    <servlet-class>com.yumstop.servlets.SignUpUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpUser</servlet-name>
    <url-pattern>/SignUpUser</url-pattern>
  </servlet-mapping>
  <display-name>YumStop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UpdateData</display-name>
    <servlet-name>UpdateData</servlet-name>
    <servlet-class>com.yumstop.servlets.UpdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateData</servlet-name>
    <url-pattern>/UpdateData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInUser</display-name>
    <servlet-name>SignInUser</servlet-name>
    <servlet-class>com.yumstop.servlets.SignInUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInUser</servlet-name>
    <url-pattern>/SignInUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantServlet</display-name>
    <servlet-name>RestaurantServlet</servlet-name>
    <servlet-class>com.yumstop.servlets.RestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantServlet</servlet-name>
    <url-pattern>/RestaurantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderItemServlet</display-name>
    <servlet-name>OrderItemServlet</servlet-name>
    <servlet-class>com.yumstop.servlets.OrderItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderItemServlet</servlet-name>
    <url-pattern>/OrderItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.yumstop.servlets.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.yumstop.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.yumstop.servlets.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
</web-app>